workspace/process/samples/littlejil.xsd

<schema
  xmlns='http://www.w3.org/2000/10/XMLSchema'
  targetNamespace='http://www.w3.org/namespace/'
  xmlns:t='http://www.w3.org/namespace/'>

 <element name='littlejil'>
  <complexType>
   <sequence>
    <element ref='t:module'/>
    <element ref='t:metadata' minOccurs='0' maxOccurs='1'/>
   </sequence>
  </complexType>
 </element>

 <element name='module'>
  <complexType>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:import'/>
    <element ref='t:export'/>
    <element ref='t:step-declaration'/>
    <element ref='t:step-reference'/>
   </choice>
   <attribute name='id' type='ID' use='optional'/>
  </complexType>
 </element>

 <element name='import'>
  <complexType>
   <attribute name='step-name' type='string' use='required'/>
   <attribute name='id' type='ID' use='optional'/>
  </complexType>
 </element>

 <element name='export'>
  <complexType>
   <attribute name='step-name' type='string' use='required'/>
   <attribute name='id' type='ID' use='optional'/>
  </complexType>
 </element>

 <element name='external-object'>
  <complexType mixed='true'>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:aggregate'/>
   </sequence>
   <attribute name='encoding' use='required'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='base64'/>
      <enumeration value='odesc'/>
      <enumeration value='string'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='id' type='ID' use='optional'/>
  </complexType>
 </element>

 <element name='step-reference'>
  <complexType>
   <attribute name='target' type='string' use='required'/>
   <attribute name='id' type='ID' use='optional'/>
  </complexType>
 </element>

 <element name='step-declaration'>
  <complexType>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:interface-decl'/>
    <element ref='t:connector'/>
    <element ref='t:aborter'/>
   </choice>
   <attribute name='name' type='string' use='required'/>
   <attribute name='kind' use='required'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='sequential'/>
      <enumeration value='parallel'/>
      <enumeration value='choice'/>
      <enumeration value='try'/>
      <enumeration value='leaf'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='id' type='ID' use='optional'/>
  </complexType>
 </element>

 <element name='interface-decl'>
  <complexType>
   <sequence>
    <element ref='t:external-object' minOccurs='0' maxOccurs='1'/>
   </sequence>
   <attribute name='kind' use='required'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='resource'/>
      <enumeration value='resource-use'/>
      <enumeration value='resource-collection'/>
      <enumeration value='resource-collection-iterator'/>
      <enumeration value='resource-collection-use'/>
      <enumeration value='in-parameter'/>
      <enumeration value='out-parameter'/>
      <enumeration value='in-out-parameter'/>
      <enumeration value='local-parameter'/>
      <enumeration value='message'/>
      <enumeration value='exception'/>
      <enumeration value='channel'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='name' type='string' use='optional'/>
   <attribute name='id' type='ID' use='optional'/>
  </complexType>
 </element>

 <element name='connector'>
  <complexType>
   <sequence>
    <choice>
     <element ref='t:requisite-connector'/>
     <element ref='t:simple-requisite-connector'/>
     <element ref='t:substep-connector'/>
     <element ref='t:reaction-connector'/>
     <element ref='t:handler-connector'/>
    </choice>
    <element ref='t:binding' minOccurs='0' maxOccurs='unbounded'/>
    <choice minOccurs='0' maxOccurs='1'>
     <element ref='t:step-declaration'/>
     <element ref='t:step-reference'/>
    </choice>
   </sequence>
   <attribute name='id' type='ID' use='optional'/>
  </complexType>
 </element>

 <element name='aborter'>
  <complexType>
   <sequence>
    <element ref='t:external-object'/>
   </sequence>
  </complexType>
 </element>

 <element name='requisite-connector'>
  <complexType>
   <attribute name='pre-or-post' use='required'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='pre'/>
      <enumeration value='post'/>
     </restriction>
    </simpleType>
   </attribute>
  </complexType>
 </element>

 <element name='simple-requisite-connector'>
  <complexType>
   <sequence>
    <element ref='t:predicate-expression' minOccurs='0' maxOccurs='1'/>
    <element ref='t:external-object' minOccurs='0' maxOccurs='1'/>
   </sequence>
   <attribute name='pre-or-post' use='required'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='pre'/>
      <enumeration value='post'/>
     </restriction>
    </simpleType>
   </attribute>
  </complexType>
 </element>

 <element name='predicate-expression'>
  <complexType>
   <attribute name='expression' type='string' use='required'/>
  </complexType>
 </element>

 <element name='substep-connector'>
  <complexType>
   <sequence>
    <element ref='t:cardinality' minOccurs='0' maxOccurs='1'/>
   </sequence>
  </complexType>
 </element>

 <element name='cardinality'>
  <complexType>
   <choice minOccurs='0' maxOccurs='1'>
    <element ref='t:control-parameter'/>
    <element ref='t:predicate-expression'/>
   </choice>
   <attribute name='lower-bound' type='string' use='required'/>
   <attribute name='upper-bound' type='string' use='required'/>
   <attribute name='id' type='ID' use='optional'/>
  </complexType>
 </element>

 <element name='control-parameter'>
  <complexType>
   <attribute name='parameter-name' type='string' use='required'/>
  </complexType>
 </element>

 <element name='reaction-connector'>
  <complexType>
   <sequence>
    <element ref='t:external-object' minOccurs='0' maxOccurs='1'/>
   </sequence>
   <attribute name='parameter-name' type='string' use='optional'/>
  </complexType>
 </element>

 <element name='handler-connector'>
  <complexType>
   <sequence>
    <element ref='t:external-object' minOccurs='0' maxOccurs='1'/>
   </sequence>
   <attribute name='continuation-action' use='required'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='complete'/>
      <enumeration value='continue'/>
      <enumeration value='restart'/>
      <enumeration value='rethrow'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='parameter-name' type='string' use='optional'/>
  </complexType>
 </element>

 <element name='binding'>
  <complexType>
   <choice>
    <element ref='t:scope-binding'/>
    <element ref='t:channel-binding'/>
    <element ref='t:constant-binding'/>
   </choice>
   <attribute name='name-in-child' type='string' use='required'/>
   <attribute name='id' type='ID' use='optional'/>
  </complexType>
 </element>

 <element name='scope-binding'>
  <complexType>
   <attribute name='kind' use='required'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='copy-in'/>
      <enumeration value='copy-out'/>
      <enumeration value='copy-in-and-out'/>
      <enumeration value='constrain'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='name-in-parent' type='string' use='required'/>
  </complexType>
 </element>

 <element name='channel-binding'>
  <complexType>
   <attribute name='kind' use='required'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='read'/>
      <enumeration value='write'/>
      <enumeration value='take'/>
      <enumeration value='read-nowait'/>
      <enumeration value='take-nowait'/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name='channel-name' type='string' use='required'/>
  </complexType>
 </element>

 <element name='constant-binding'>
  <complexType>
   <sequence>
    <element ref='t:external-object' minOccurs='0' maxOccurs='1'/>
   </sequence>
  </complexType>
 </element>

 <element name='metadata'>
  <complexType>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:annotation'/>
    <element ref='t:diagram'/>
   </choice>
  </complexType>
 </element>

 <element name='annotation'>
  <complexType>
   <sequence>
    <element ref='t:external-object'/>
   </sequence>
   <attribute name='key' type='IDREF' use='required'/>
   <attribute name='name' type='string' use='required'/>
  </complexType>
 </element>

 <element name='diagram'>
  <complexType>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:post-it'/>
    <element ref='t:location'/>
    <element ref='t:tagged-location'/>
   </choice>
   <attribute name='name' type='string' use='required'/>
   <attribute name='id' type='ID' use='optional'/>
  </complexType>
 </element>

 <element name='post-it'>
  <complexType mixed='true'>
   <attribute name='x-position' type='string' use='required'/>
   <attribute name='y-position' type='string' use='required'/>
   <attribute name='id' type='ID' use='optional'/>
  </complexType>
 </element>

 <element name='location'>
  <complexType>
   <attribute name='key' type='IDREF' use='required'/>
   <attribute name='x-position' type='string' use='required'/>
   <attribute name='y-position' type='string' use='required'/>
   <attribute name='id' type='ID' use='optional'/>
  </complexType>
 </element>

 <element name='tagged-location'>
  <complexType>
   <attribute name='key' type='IDREF' use='required'/>
   <attribute name='tag' type='string' use='required'/>
   <attribute name='x-position' type='string' use='required'/>
   <attribute name='y-position' type='string' use='required'/>
   <attribute name='id' type='ID' use='optional'/>
  </complexType>
 </element>

 <element name='aggregate'>
  <complexType>
   <sequence minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:field'/>
   </sequence>
   <attribute name='type' type='string' use='required'/>
  </complexType>
 </element>

 <element name='null-aggregate'>
  <complexType>
   <attribute name='type' type='string' use='required'/>
  </complexType>
 </element>

 <element name='field'>
  <complexType mixed='true'>
   <choice minOccurs='0' maxOccurs='unbounded'>
    <element ref='t:aggregate'/>
    <element ref='t:null-aggregate'/>
   </choice>
   <attribute name='name' type='string' use='required'/>
   <attribute name='kind' use='required'>
    <simpleType>
     <restriction base='string'>
      <enumeration value='aggregate'/>
      <enumeration value='boolean'/>
      <enumeration value='integer'/>
      <enumeration value='real'/>
      <enumeration value='string'/>
      <enumeration value='symbol'/>
     </restriction>
    </simpleType>
   </attribute>
  </complexType>
 </element>
</schema>
